.switch {
	height: 40px;
	width: 75px;
	border-radius: 25px;
	background: rgb(163, 168, 240);
	background: linear-gradient(
		90deg,
		rgba(163, 168, 240, 1) 0%,
		rgba(105, 111, 221, 1) 100%
	);
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.switch:hover {
	background: hsl(236, 72%, 79%);
}
.dot {
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	margin: 0 5px;
	position: absolute;
	transition: 0.3s ease-in-out transform;
}
